<div class="grid">
  @for (img of images; track img) {
    <img (click)="showFullImage(img.src, $index)" class="image image_{{$index}}" src="{{img.src}}">
  }
</div>

<!--почти рабочий вариант (не работает клик закрытия)-->
<!-- Modal -->
<!--<div class="modale" [ngClass]="{'opened':showModal}" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <app-image-modal></app-image-modal>-->
<!--&lt;!&ndash;    <app-image-modal (newItemEvent)="closeFullImage($event)"></app-image-modal>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; /Modal &ndash;&gt;-->

<!--<div class="grid">-->
<!--  @for (img of images; track img) {-->
<!--    <img (click)="showFullImage(img, $index)" class="image image_{{$index}}" src="{{img.src}}">-->
<!--  }-->
<!--</div>-->
