<!--<p style="color: aquamarine; width: 300px">aside works!</p>-->
<aside class="aside">
  <div class="cx mt-2vh">
    <app-lang-button title="RUS" side="left" (click)="onLangChange('ru')"></app-lang-button>
    <app-lang-button title="ENG" side="right" (click)="onLangChange('en')"></app-lang-button>
  </div>
  <div class="menu">
    @for (link of links; track link.url) {
      <a
        style="text-decoration: none"
        [routerLink] = "link.url"
      >
        <app-menu-button [title]="link.label" [url]="link.url"></app-menu-button>
      </a>
    }
  </div>
</aside>
