<!--<p style="color: aquamarine; width: 300px">aside works!</p>-->
<aside class="aside">
  <div>
    <app-lang-button title="RUS" (click)="onLangChange('ru')"></app-lang-button>
    <app-lang-button title="ENG" (click)="onLangChange('en')"></app-lang-button>
  </div>
  <div>
    @for (link of links; track link.url) {
      <a
        style="text-decoration: none"
        [routerLink] = "link.url"
      >
        <app-menu-button [title]="link.label" ></app-menu-button>
      </a>
    }
  </div>
</aside>
