.m-text{
  font-family: Helvetica, serif;
  font-size: 26px;
  line-height: 30px;
}
.qr{
  width: 245px;
  height: 245px;
}
.contact-col{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #0E364A;
  height: 100%;
  border-radius: 20px;
  padding: 5vh;
}
.contacts-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.qr-codes{
  display: flex;
  justify-content: space-between;
}
.mm-text{
  color: white;
  font-family: Helvetica, serif;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
