<div class="head-text mb-2vh">{{t('Contacts')}}</div>
<div class="contact-col">
  <div class="contacts-info">
    <div class="df">
      <div class="cxy mr-3vh">
        <img src="assets/icons/phone.png">
      </div>
      <div class="mt-10">
        <span class="m-text">+7 (812) 242-62-05</span>
      </div>
      <!--          <a class="phone" href="tel:+78122426205">+7 (812) 242-62-05</a>-->
    </div>
    <div class="df">
      <div class="cxy mr-3vh">
        <img src="assets/icons/mail.png">
      </div>
      <div class="mt-10">
        <span class="m-text">office&#64;nautic-rus.ru</span>
      </div>
      <!--          <a href="mailto:office@nautic-rus.ru">office&#64;nautic-rus.ru</a>-->
    </div>
    <div class="df">
      <div class="cxy mr-3vh">
        <img src="assets/icons/address.png">
      </div>
      <span class="m-text">{{t('Office 701, 9/4 Kronshtadtskaya str. build.1, St. Petersburg, Russia, 198096')}}</span>
      <!--          <a class="address" href="https://www.google.com/maps/place/%D0%9D%D0%B0%D1%83%D1%82%D0%B8%D0%BA+%D0%A0%D1%83c/@59.8707523,30.2527503,17z/data=!3m1!4b1!4m6!3m5!1s0x46963a8a3ce7b32f:0x4ba780d1f4189b63!8m2!3d59.8707496!4d30.2553252!16s%2Fg%2F11p06956y6?entry=ttu&g_ep=EgoyMDI0MDgyNy4wIKXMDSoASAFQAw%3D%3D" target="_blank">Санкт-Петербург, ул. Кронштадтская, дом 9, корпус 4, стр 1, офис 701</a>-->
    </div>
    <div class="df">
      <div class="cxy mr-3vh">
        <img src="assets/icons/web.png">
      </div>
      <div class="mt-10">
        <span class="m-text">nautic-rus.com</span>
      </div>
      <!--          <a href="https://nautic-rus.com/" target="_blank">nautic-rus.com</a>-->
    </div>
  </div>
  <div class="qr-codes ml-7vh cxy">
    <div>
      <img class="qr" src="assets/images/QRcontact.svg">
      <div class="mm-text mt-10">{{t('Get contacts')}}</div>
    </div>
    <div>
      <img class="qr" src="assets/images/QRvk.svg">
      <div class="mm-text mt-10">{{t('VK')}}</div>
    </div>
    <div>
      <img class="qr" src="assets/images/QRtelegram.svg">
      <div class="mm-text mt-10">Telegram</div>
    </div>


  </div>
</div>



