<!--<div #projectRoot> </div>-->
<!--<p>project works! {{id}}</p>-->
<div class="all-page">
  <div class="pb-2vh df" #projectRoot>
    <div (click)="closeProject()">
      <img src="assets/icons/close.svg" height="35">
    </div>
    <div class="p-ml-auto">
      <button (click)="toPrevProject()"><</button>
      <button (click)="toNextProject()">></button>
    </div>
  </div>
  <div class="content">
    <!--  <div ng-include src="updateCompany.html"></div>-->
    <!--  <img class="image" src="{{t(project.imgSrc)}}" alt="picture of {{project.title}}">-->
    <div>
      <img src="assets/3d.png" height="829" width="100%">
    </div>  <!-- пока просто вместо картинки/модели -->
    <h2 class="name">{{t(project.title)}}</h2>
    <div class="info">
      {{t(project.fullInfo)}}
    </div>
    <div style="display: flex; flex-direction: column">
      @if (project.crabProcessingArea != '-') {
        <div>{{t('Full Crab processing area')}} : {{ project.crabProcessingArea }} {{t('m²')}}</div>
      }
      @if (project.fishProcessingArea != '-') {
        <div>{{t('Fish processing area with an area of')}} {{ project.fishProcessingArea }} {{t('m²')}} {{t('for the primary processing of the catch')}} </div>
      }
      @if (project.processingCapacity != '-') {
        <div>{{t('Total processing capacity on the ship')}}: {{ project.processingCapacity }} {{t('t/day')}}</div>
      }
      @if (project.freezingCapacity  != '-') {
        <div>{{t('Freezing capacity')}}: {{ project.freezingCapacity  }} {{t('t/day')}}</div>
      }
      <div>{{t('Total capacity of holds')}}: {{ project.holdsCapacity  }} {{t('m³')}}</div>
    </div>

    <div style="display: flex; flex-direction: column; margin-top: 15px">
      <div>{{t('Fish species')}}: {{ t(project.fishSpecies) }}</div>
      <div>{{t('Methods and types of processing')}}: {{ t(project.methods) }}</div>
    </div>

    <div class="statistic">
      <span>Length : {{project.length}} m</span>
      <span>Width : {{project.width}} m</span>
      <span>Draft : {{project.draft}} m</span>
      <span>Vessel speed : {{project.vesselSpeed}} kn</span>
      <span>Number of crew : {{project.numberOfCrew}} ppl</span>
      <!--    добавить переводы в словари-->
      <!--    <span>{{ t('Length') }}: {{project.length}} {{t('m')}}</span>-->
      <!--    <span>{{ t('Width') }}: {{project.width}} {{t('m')}}</span>-->
      <!--    <span>{{ t('Draft') }}: {{project.draft}} {{t('m')}}</span>-->
      <!--    <span>{{ t('Vessel speed') }}: {{project.vesselSpeed}} {{t('kn')}}</span>-->
      <!--    <span>{{ t('Number of crew') }}: {{project.numberOfCrew}} {{t('ppl')}}</span>-->
    </div>

    <div>
      @for (img of project.images; track img) {
        <img height="193" src="{{img.src}}" (click)="openImg(img.src, $index)">
      }
    </div>
    <div class="images"></div>
  </div>
</div>

