.project {
  display: grid;
  grid-template-columns: 56% 44%;
}

.video-block{
  width: 100%;
  height: 445px;
  position: relative;
}
.video1{
  width: 100%;
  height: 465px;
}
.none {
  display: none;
}
.pp-button {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 15;
}
.thumb-img{
  padding: 1vh;
  box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.showMore-button {
  position: relative;
  height: 60px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: Helvetica, serif;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}

.model-button{
  background: #68C761;
}

.booklet-button {
  background: #6bcadc;
  color: #FFFFFF;
}
.close-button{
  width: 180px;
  height: 64px;
  padding: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  background: #2C4855;
  border-radius: 10px;
  font-size: 24px;
  color: white;
}
.mt-minis5{
  margin-top: -5px;
}
.navigation-buttons {
  width: calc(100% - 12vh);
  display: flex;
  position: absolute;
  bottom: 3vh;
}
.navigation-button {
  width: 256px;
  height: 64px;
  padding: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  background: #2C4855;
  border-radius: 10px;
  font-size: 24px;
  color: white;
}
.description{
  font-size: 22px;
}
.icon-button{
  position: absolute;
  left: 10px;
  top: 8px;
}
.head-info{
  font-family: Helvetica, serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.params{
  font-size: 16px;
}
.size{
  font-size: 16px;
  font-weight: 600;
}
.descr-cont{
  height: 57.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dot {
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: black;
}
/*.project {*/
/*  display: grid;*/
/*  grid-template-columns: 56% 44%;*/
/*}*/
/*.statistic {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  margin-top: 2vh;*/
/*  margin-bottom: 2vh;*/
/*}*/


/*.video-block{*/
/*  width: 100%;*/
/*  height: 445px;*/
/*  position: relative;*/
/*}*/

/*.navigation-buttons {*/
/*  width: 100%;*/
/*  display: flex;*/
/*}*/
/*.model-button{*/
/*  width: 212px;*/
/*  height: 60px;*/
/*  padding: 0px 10px 0px 10px;*/
/*  background: #68C761;*/
/*  color: #FFFFFF;*/
/*  border-radius: 10px;*/
/*  font-family: "Helvetica";*/
/*  font-weight: 400;*/
/*  font-size: 24px;*/
/*  text-align: center;*/
/*}*/
/*.navigation-button {*/
/*  width: 256px;*/
/*  height: 64px;*/
/*  padding: 14px;*/
/*  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);*/
/*  background: #2C4855;*/
/*  border-radius: 10px;*/
/*  font-size: 24px;*/
/*  color: white;*/
/*}*/
/*.bottom-btn{*/
/*  position: absolute;*/
/*  bottom: 2vh;*/
/*}*/
.name {
  font-family: Helvetica, serif;
  font-size: 60px;
  margin-bottom: 3vh;
  line-height: 3.8vh;
}
/*.thumb-img{*/
/*  padding: 1vh;*/
/*  box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);*/
/*}*/

/*.close-button{*/
/*  width: 154px;*/
/*  height: 64px;*/
/*  padding: 14px;*/
/*  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);*/
/*  background: #2C4855;*/
/*  border-radius: 10px;*/
/*  font-size: 24px;*/
/*  color: white;*/
/*}*/
/*.mt-minis5{*/
/*  margin-top: -5px;*/
/*}*/

/*.pp-button {*/
/*  height: 50px;*/
/*  width: 50px;*/
/*  position: absolute;*/
/*  top: 40%;*/
/*  left: 40%;*/
/*  z-index: 15;*/
/*}*/

/*.none {*/
/*  display: none;*/
/*}*/
/*!*.image {*!*/
/*!*  width: 1463px;*!*/
/*!*  height: 829px;*!*/
/*!*}*!*/
/*!*.statistic {*!*/
/*!*  display: flex;*!*/
/*!*  flex-direction: column;*!*/
/*!*  margin-top: 4vh;*!*/
/*!*  margin-bottom: 4vh;*!*/
/*!*}*!*/




/*!*.params{*!*/
/*!*  text-transform: uppercase;*!*/
/*!*  font-size: 30px;*!*/
/*!*  width: 20vw;*!*/
/*!*}*!*/
/*!*.size{*!*/
/*!*  font-size: 30px;*!*/
/*!*  font-weight: 500;*!*/
/*!*}*!*/
/*!*.video{*!*/
/*!*  width: 1463px;*!*/
/*!*  height: 829px;*!*/
/*!*}*!*/
