<div class="all-page ml-2vh" xmlns="http://www.w3.org/1999/html">
  <div class="about df">
    <div class="h-40">
      <div class="head-text">{{t('About')}}</div>
      <ng-container *transloco="let t">
        <div class="m-text pb-2vh">{{ t('about1paragr') }}</div>
        <div class="m-text pb-2vh">{{ t('about2paragr') }}</div>
        <div class="m-text pb-2vh">{{ t('about3paragr') }}</div>
      </ng-container>
    </div>
    <div class="cxy h-60">
      <video class="interview" controls poster="assets/images/about/videoposter.jpg">
        <source src="assets/images/about/interview.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="contacts">
    <div class="head-text">{{t('Contacts')}}</div>
    <div class="df">
      <div class="contacts-info">
        <div>
          <img src="assets/icons/deepsea_Call_Icon_1.png">
          <span>+7 (812) 242-62-05</span>
<!--          <a class="phone" href="tel:+78122426205">+7 (812) 242-62-05</a>-->
        </div>
        <div>
          <img src="assets/icons/deepsea_Email_Icon_1.png">
          <span>office&#64;nautic-rus.ru</span>
<!--          <a href="mailto:office@nautic-rus.ru">office&#64;nautic-rus.ru</a>-->
        </div>
        <div>
          <img src="assets/icons/deepsea_Home_Filled_Icon_1.png">
          <span>{{t('Office 701, 9/4 Kronshtadtskaya str. build.1, St. Petersburg, Russia, 198096')}}</span>
<!--          <a class="address" href="https://www.google.com/maps/place/%D0%9D%D0%B0%D1%83%D1%82%D0%B8%D0%BA+%D0%A0%D1%83c/@59.8707523,30.2527503,17z/data=!3m1!4b1!4m6!3m5!1s0x46963a8a3ce7b32f:0x4ba780d1f4189b63!8m2!3d59.8707496!4d30.2553252!16s%2Fg%2F11p06956y6?entry=ttu&g_ep=EgoyMDI0MDgyNy4wIKXMDSoASAFQAw%3D%3D" target="_blank">Санкт-Петербург, ул. Кронштадтская, дом 9, корпус 4, стр 1, офис 701</a>-->
        </div>
        <div>
          <img src="assets/icons/deepsea_Language_Icon_1.png">
          <span>nautic-rus.com</span>
<!--          <a href="https://nautic-rus.com/" target="_blank">nautic-rus.com</a>-->
        </div>
      </div>
      <div class="qrs">
        <img class="qr" src="">
        <img class="qr" src="">
        <img class="qr" src="">
      </div>
    </div>

  </div>

</div>
