<div class="all-page" xmlns="http://www.w3.org/1999/html">
  <div class="about df">
    <div class="h-40 mr-3vh">
      <div class="head-text mb-1vh">{{t('About')}}</div>
      <ng-container *transloco="let t">
        <div class="m-text">{{ t('about1paragr') }}</div>
        <div class="m-text">{{ t('about2paragr') }}</div>
        <div class="m-text">{{ t('about3paragr') }}</div>
      </ng-container>
    </div>
    <div class="cxy mt-9vh">
      <video class="interview" controls poster="assets/images/about/videoposter.jpg">
        <source src="assets/images/about/interview.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="contacts">
    <app-contacts></app-contacts>
  </div>

</div>
