<div class="all-page">
  <div class="head-text pb-2vh">{{t('Design')}}</div>
  <div class="images">
    <img class="image_full" src="{{imageFullSrc}}">
    <div class="grid">
      @for (imgSrc of imagesSrc; track imgSrc) {
        <div class="pr">
          <img style="width: 140px" (click)="changeFullImage(imgSrc)" class="image {{$index}}" src="{{imgSrc}}">
          <div class="expand">
            <img src="assets/icons/expand.svg" height="25">
          </div>
        </div>

      }
    </div>
  </div>

  <div class="text mt-2vh">
    <div class="mr-2vh">
      <div class="m-text line-40 pb-1vh">{{t('We are highly convinced that high technology and modernity should be manifested as in the internal ship systems, in the outer appearance as well as in the interiors.')}}</div>
      <div class="m-text line-40 pb-1vh">{{t('Our major challenge is to design an ergonomic, comfortable and beautiful space for people spending a lot of time in tough sea conditions. For people accomplishing physically hard and responsible work day by day.')}}</div>
      <div class="m-text line-40 pb-1vh">{{t('Using our knowledge about the light and color influence on the physical and emotional state of a person, we apply such the solutions in the trawler interior design which contribute to high-quality rest and quick crew recovery.')}}</div>
    </div>
    <div>
      <div class="m-text line-40 pb-1vh">{{t('The Nautic Rus unique design approach is that we pay attention to completely all areas, even those that at first sight do not require this, where the technical approach prevails. We integrate aesthetics into the functional equipment and the technical rooms.')}}</div>
      <div class="m-text line-40 pb-1vh">{{t('By cultivating love of orderliness and beauty, we bring up due respect for ourselves and those around us, we take a step towards the establishing of a more perfect society.')}}</div>
      <div class="m-text line-40 pb-1vh">{{t('Modern people are accustomed to comfort. We believe that the conditions created by us that meet the requirements of a modern person will attract more qualified workers to the trawler. We hope that our approach will influence the perception and positioning of the fishing profession.')}}</div>
    </div>
  </div>
</div>

