.cy{
  display: flex;
  align-items: center;
}
.cx{
  display: flex;
  justify-content: center;
}
.cxy{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col{
  flex-direction: column;
}
.df{
  display: flex;
}
