/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Helvetica;
  src: url("./assets/fonts/helvetica_regular.otf");
}
.all-page{
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  padding: 6vh;
  margin: 0 auto;
  font-family: Helvetica, serif;
}
.all-page-project{
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  padding: 4vh;
  margin: 0 auto;
  font-family: Helvetica, serif;
}
.head-text{
  font-size: 60px;
}
.cy{
  display: flex;
  align-items: center;
}
.cx{
  display: flex;
  justify-content: center;
}
.cxy{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col{
  flex-direction: column;
}
.df{
  display: flex;
}
.align-end{
  align-items: end;
}
.mt-10{
  margin-top: 10px;
}
.mt-1vh{
  margin-top: 1vh;
}
.mt-2vh{
  margin-top: 2vh;
}
.mt-3vh{
  margin-top: 3vh;
}
.mt-4vh{
  margin-top: 4vh;
}
.mt-9vh{
  margin-top: 9vh;
}
.mt-min2vh{
  margin-top: -2vh;
}
.mt-min3vh{
  margin-top: -3vh;
}
.mb-1vh{
  margin-bottom: 1vh;
}
.mb-2vh{
  margin-bottom: 2vh;
}
.mb-3vh{
  margin-bottom: 3vh;
}
.video1{
  width: 100%;
  height: 474px;
}
.ml-2vh{
  margin-left: 2vh;
}
.ml-4vh{
  margin-left: 4vh;
}
.ml-7vh{
  margin-left: 7vh;
}
.ml-9vh{
  margin-left: 9vh;
}
.mr-2vh{
  margin-right: 2vh;
}
.mr-3vh{
  margin-right: 3vh;
}
.mr-7vh{
  margin-right: 7vh;
}
.pb-1vh{
  padding-bottom: 1vh;
}
.pb-2vh{
  padding-bottom: 2vh;
}
.pt-1vh{
  padding-top: 1vh;
}
.pt-2vh{
  padding-top: 2vh;
}
.pt-3vh{
  padding-top: 3vh;
}
.pt-4vh{
  padding-top: 4vh;
}
.pt-5-vh{
  padding-top: 5.5vh;
}
.pt-6vh{
  padding-top: 6vh;
}
.pl-10{
  padding-left: 10px;
}
.pl-2vh{
  padding-left: 2vh;
}
.pl-3vh{
  padding-left: 3vh;
}
.pl-4vh{
  padding-left: 4vh;
}
.py-1vh{
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.py-2vh{
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.pr-4vh{
  padding-right: 4vh;
}
.pr-6vh{
  padding-right: 6vh;
}
.p-ml-auto{
  margin-left: auto!important;
}
.space-around{
  justify-content: space-around;
}
.space-between{
  justify-content: space-between;
}
.h-40{
  height: 40%;
}
.h-50{
  height: 50%;
}
.h-60{
  height: 60%;
}
.height-110{
  min-height: 110px;
}
.pr{
  position: relative;
}
.text-bold{
  font-weight: 600;
}
::-webkit-scrollbar{
  width: 6px;
  height: 5px;
}
::-webkit-scrollbar-track-piece{
  background: rgba(0, 0, 0, 0.14);
}
::-webkit-scrollbar-thumb:vertical{
  height:10px;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:horizontal{
  height:3px;
  max-width: 50px;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 4px;
}
.mb-minus5{
  margin-bottom: -5px;
}
