<div class="pr qrs">
  <div class="close-3d button-click" (click)="closeModal()">
    <img src="assets/icons/close.svg" height="22">
  </div>
  <div>
    <div class="text-center">Scan QR to get digital booklet</div>
    <div class="df space-between mt-1vh">
      <div class="df flex-col">
        <qrcode class="qr" qrdata="{{qrRus}}" [width]="247"></qrcode>
        <div class="text-lang">RUS</div>
      </div>
      <div class="df flex-col">
        <qrcode class="qr" qrdata="{{qrEng}}" [width]="247"></qrcode>
        <div class="text-lang">ENG</div>
      </div>
    </div>
  </div>
</div>
