<!--<ng-container *transloco="let t">-->
<!--  <div class="df pb-2vh pl-2vh">-->
<!--    <div class="df align-end" (click)="expanded = !expanded">-->
<!--      <img class="arrow" [ngClass]="{'expanded': expanded}" src="/assets/images/arrow_icon.png" height="35" alt="show more information about {{title}}">-->
<!--    </div>-->
<!--    <div class="subhead-text">{{ t('service.title.'+title)}}</div>-->
<!--  </div>-->
<!--  @if (expanded) {-->
<!--    <div class="pb-2vh m-text exp-div">{{ t('service.content.'+title)}}</div>-->
<!--  }-->
<!--</ng-container>-->

<ng-container *transloco="let t">
  <p-accordion class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
    <p-accordionTab (click)="expanded = !expanded">
      <ng-template pTemplate="header">
        <span class="flex align-items-center gap-2 w-full">
          <img class="arrow" [ngClass]="{'expanded': expanded}" src="/assets/images/arrow_icon.png" height="35" alt="show more information about {{title}}">
          {{ t('service.title.'+title)}}
        </span>
      </ng-template>
      <p class="m-0">
        {{ t('service.content.'+ title)}}
      </p>
    </p-accordionTab>
  </p-accordion>
</ng-container>


