/deep/.p-accordion-header-link{
  text-decoration: none!important;
}
.expanded {
  transform: rotate(90deg);
}

.arrow {
  transition-duration: .5s;
  margin-right: 3vh;
}
.subhead-text{
  font-size: 30px;
  font-weight: 600;
  color: black;
}
.m-text{
  font-size: 30px;
  padding-left: 5vw;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.exp-div {
  opacity: 0;
  animation: ani 2.5s forwards;
}
.padding-m-text{
  padding: 0 2vh 3vh 5.5vh;
}
